.services {

    //overflow-x: hidden;

    /* display: flex;
    flex-direction: column; */

    

    &__wrapper {
        //flex: 1 1 auto;

        display: grid;
        grid-template-columns: 100%;

        min-height: 100%;

        overflow: hidden;

        padding-top: 30px;

        display: flex;
        flex-direction: column;
    }
    //background: var(--dark);

    // .services__title

    &__title {
    }

    // .services__list

    &__list {
        flex: 1 1 auto;

        display: flex;
        flex-wrap: wrap;

        padding-top: 30px;
        
        margin: -2.5px 0;

        overflow-x: hidden;
        overflow-y: visible;

        /* max-height: 50vh;
        overflow-y: auto; */
    }

    // .services__item

    &__item {

        flex: 1 1 100%;

        margin: 2.5px 0;

        @include _768 {
            margin: 2.5px;
            flex: 0 1 calc(50% - 5px);
        }

        padding: 15px 30px;

        @include _992 {
            padding: 15px 30px;
        }

        @media (min-width: 1440px) {
            padding: 20px 30px;
        }

        background: var(--dark-3);
        box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);

        // .services__item--row

        &--row {
            display: flex;
            flex-direction: column;
            justify-content: center;

            min-height: 100%;
        }

        // .services__item--col

        &--col {
            &:last-child {
                //flex: 1 1 auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        // .services__item--title

        &--title {
            padding-right: 50px;

            @include _768 {
                font-size: 1rem;
            }
            
            @include _992 {
                font-size: 1.25rem;
            }
        
            @media (min-width: 1440px) {
                font-size: 1.5rem;
            }

            -webkit-text-stroke: 0.5px var(--white);

            //text-align: center;

            & br {
                display: none;
            }
            
            @include _992 {
                & br {
                    display: none;
                }
            }
        }

        // .services__item--text

        &--text {
            margin-top: 15px;
            
            @include _992 {
                margin-top: 15px;
            }

            font-size: 0.75rem;

            @media (min-width: 1150px) {
                font-size: 0.875rem;
            }

            //flex: 1 1 auto;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            line-height: 171%;
            color: var(--light);

            max-width: 998px;

            & p:first-child {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: -7px; top: 10px;
                    width: 20px; height: 1px;
                    transform: translate(-100%,0);
                    background: var(--accent);
                }
            }
        }

        // .services__item--footer

        &--footer {
            padding-top: 20px;
            margin: -10px -20px;

            //padding-right: 15px;
            
            @include _992 {
                margin: -10px -40px;
                padding-top: 10px;
            }
            
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        // .services__item--btn

        &--btn {
            margin: 10px 20px;
            @include _992 {
                margin: 10px 40px;
            }
        }

        // .services__item--link

        &--link {
        }
    }
}
